body{
    font-family: 'Roboto Condensed', sans-serif;
}
.first-area{
    display: flex;
    justify-content: right;
    margin-left: 5%;
    margin-top: 5%;
}
h1{
    font-size: 70px;
    color: #707070;
}
h3{
    font-size: 35px;
}
ul,li,a{
    text-decoration: none;
    color: #0F283F;
    font-size: 18px
}
.about{
    font-size: 35px;
}
.what{
    font-size: 30px;
}
.abba{
    display: flex;
}
.half{
    width: 50%;
    border: 1px solid #7f8c8d;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
footer p{
    text-align: center;
    color: grey;
}
